h1 {
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    color: white; 
    text-transform: uppercase;}

p {
    color: white; 
    text-align: center;
}

div {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 100px;
    width: 50%;
}

